body {
  margin: 0;
}

.nav {
  background-color: #666666;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0;
}

@media (max-width: 600px) {
  .nav {
    text-align: center;
    align-items: center;
  }
}

.nav-brand {
  padding-left: 20px;
  color: blanchedalmond;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav-brand:hover {
  color: blanchedalmond;
}

.nav-item {
  list-style: none;
  padding-right: 25px;
}

.link {
  text-decoration: none;
  color: aliceblue;
}
